nav{
  position:fixed;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: rgb(22,22,122);
  color: rgb(255,255,255)
  font-size:28pt;
  bottom-margin:100px;
}

body{
  font-size: 22pt;
  color: rgb(210,50,160);
}

.left{
  float:left;
}

.right{
  float:right;
}


