
      body {
           width: 640px;
           height:480px;
           color: white;
           border: 10px blue;
           margin: 25px;
           padding: 50px;
           }
           .high {
         color: red;
      }
      
      .medium {
         color: yellow;
      }
      
      .low{
        color: white;
      }
      
      .done{
        text-decoration: line-through;
        color:cyan;
