body{
            background-color: #ACFFD6;
}
      .must {
         background-color: red;
         color:white;
      }
      .trivial {
         background-color: orange;
         color:brown;
      }
      .notimportant{
        background-color: gray;
        color:black;
      }
      .done{
        text-decoration: line-through;
        color:cyan;
        background-color:gray;
      }
        h1{
            color:#522900;
        }
        p{
          color:#522900;
          font-size:18;
          font-family:Arial;
}
